<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-5">
          <canvas id="onlinePerMonth" width="300" height="300"></canvas>
      </div>
      <div class="col-md-6">
        <canvas id="communication" width="300" height="200"></canvas>
      </div>

    </div>
  </div>
  <center>
    <h3>Users' GeoLocation</h3>
  </center>
</div>

</section>

<!--START Charts.js-->
<script>
var ctx = document.getElementById('onlinePerMonth').getContext('2d');
var chart = new Chart(ctx, {
  // The type of chart we want to create
  type: 'line',

  // The data for our dataset
  data: {
      labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
      datasets: [{
          label: "Users Online",
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(255, 99, 132, 1)',
          data: [0, 10, 5, 2, 20, 30, 45, 30, 23, 13, 23, 22, 31, 45],
          borderWidth: 3
      }]
  },
  // Configuration options go here
  options: {
    scales: {
        xAxes: [{
            display: true,
            scaleLabel: {
                display: true,
                labelString: 'Month'
            }
        }],
        yAxes: [{
            display: true,
            scaleLabel: {
                display: true,
                labelString: '# of Users'
            }
        }]
    },
    title: {
      display: true,
      text: "Users Onine Per Month",
      fontSize: 20
    }
  }
});

var ctx2 = document.getElementById("communication").getContext("2d");
var chart = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            datasets: [{
                data: [
                    19, 38, 35, 42, 10
                ],
                backgroundColor: [
                    "red", "orange", "yellow", "green", "blue"
                ],
                label: 'Dataset 1'
            }],
            labels: [
                "Tablet",
                "Laptop",
                "Mobile",
                "Desktop",
                "Other"
            ]
        },
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: ''
            },
            animation: {
                animateScale: true,
                animateRotate: true
            },
            title: {
              display: true,
              text: "Logged In From",
              fontSize: 20
            }
        }
    });
</script>
<!--END Charts.js-->

<!--START Google Maps-->
<div style="background-color:#ECF0F5;">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <div id="googleMap" style="width:100%;height:400px;margin-left:20px;"></div>
      </div>
    </div>
  </div>

</div>

<script>
function myMap() {
var mapProp= {
    center:new google.maps.LatLng(39.639537564366684,-100.107421875),
    zoom:4,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var sanDiego = new google.maps.LatLng(32.83373132321818,-117.26566314697266);
var sanFran = new google.maps.LatLng(37.78808138412046,-122.6953125);
var texas = new google.maps.LatLng(33.211116472416855,-96.6796875);
var wDC = new google.maps.LatLng(42.61779143282346,-72.24609375);
var wyoming = new google.maps.LatLng(43.004647127794435,-107.138671875);


var marker1 = new google.maps.Circle({center:sanDiego,
  radius:200000,
  strokeColor:"#FF0000",
  strokeOpacity:0.8,
  strokeWeight:2,
  fillColor:"#FF0000",
  fillOpacity:0.4});
var marker2 = new google.maps.Circle({center:sanFran,
    radius:100000,
    strokeColor:"#FF0000",
    strokeOpacity:0.8,
    strokeWeight:2,
    fillColor:"#FF0000",
    fillOpacity:0.4});
var marker3 = new google.maps.Circle({center:texas,
    radius:300000,
    strokeColor:"#FF0000",
    strokeOpacity:0.8,
    strokeWeight:2,
    fillColor:"#FF0000",
    fillOpacity:0.4});
var marker4 = new google.maps.Circle({center:wDC,
    radius:100000,
    strokeColor:"#FF0000",
    strokeOpacity:0.8,
    strokeWeight:2,
    fillColor:"#FF0000",
    fillOpacity:0.4});
var marker5 = new google.maps.Circle({center:wyoming,
    radius:400000,
    strokeColor:"#FF0000",
    strokeOpacity:0.8,
    strokeWeight:2,
    fillColor:"#FF0000",
    fillOpacity:0.4});
marker1.setMap(map);
marker2.setMap(map);
marker3.setMap(map);
marker4.setMap(map);
marker5.setMap(map);

var infowindow1 = new google.maps.InfoWindow({
  content:"2268 Users"
});
var infowindow2 = new google.maps.InfoWindow({
  content:"1957 Users"
});
var infowindow3 = new google.maps.InfoWindow({
  content:"3157 Users"
});
var infowindow4 = new google.maps.InfoWindow({
  content:"1275 Users"
});
var infowindow5 = new google.maps.InfoWindow({
  content:"4235 Users"
});

google.maps.event.addListener(marker1, 'click', function(ev){
    infowindow1.setPosition(marker1.getCenter());
    infowindow1.open(map);
});
google.maps.event.addListener(marker2, 'click', function(ev){
    infowindow2.setPosition(marker2.getCenter());
    infowindow2.open(map);
});
google.maps.event.addListener(marker3, 'click', function(ev){
    infowindow3.setPosition(marker3.getCenter());
    infowindow3.open(map);
});
google.maps.event.addListener(marker4, 'click', function(ev){
    infowindow4.setPosition(marker4.getCenter());
    infowindow4.open(map);
});
google.maps.event.addListener(marker5, 'click', function(ev){
    infowindow5.setPosition(marker5.getCenter());
    infowindow5.open(map);
});


}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClgHp5kDwHajLiBaizpUsHK3cau_S6Wsw&callback=myMap"></script>
<!--END Google Maps-->


<!--Analytics-->
<!--
<script src='/javascripts/analytics.js'></script>

  <div>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.css">
    <script src="https://cdn.mxpnl.com/libs/mixpanel-platform/build/mixpanel-platform.v0.latest.min.js"></script>
  </div>
  <div class="mixpanel-platform-body">
    <div class="">
      <div id="eventSelect" style="float: left;"></div>
      <div id="by" class="mixpanel-platform-label" style="margin-left: 10px; display: none;">by</div>
      <div id="propSelect" style="float: left;"></div>
      <div id="dateSelect" style="float: right;"></div>
      <div style="clear: both;"></div>
      <div id="graph"></div>
    </div>
    <div id="table"></div>
    <script>
      MP.api.setCredentials("efa2485252acd5e41711ceb71ec5285e", "e48ded64efa367831e11cfd37ee276c0")

      var eventSelect = $('#eventSelect').MPEventSelect();
      var propSelect  = $('#propSelect').MPPropertySelect();
      var dateSelect  = $('#dateSelect').MPDatepicker();
      var eventGraph  = $('#graph').MPChart({chartType: 'line'});
      var eventTable  = $('#table').MPTable({
        showPercentages: true,
        firstColHeader: 'Event'
      });

      var runQuery = function() {
        var eventName = eventSelect.MPEventSelect('value'),
            propName  = propSelect.MPPropertySelect('value'),
            dateRange = dateSelect.MPDatepicker('value');

        if (eventName) {
          MP.api.segment(eventName, propName, dateRange).done(function(results) {
            eventGraph.MPChart('setData', results);
            eventTable.MPTable('setData', results);
          });
        }
      };
      eventSelect.on('change', function(e, eventName) {
        propSelect.MPPropertySelect('setEvent', eventName);
        $("#by").show();
        runQuery();
      });
      propSelect.on('change', runQuery);
      dateSelect.on('change', runQuery);
    </script>
  </div>
-->

<style>
.select_button {
    height: 32px !important;
}
</style>
