
<script src="/plugins/form-builder.min.js"></script>

<section class="content-header">
    <h1>Form Editor </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
    <form method="POST">
      <div id="fb-editor"></div>
    </form>
</section>

<script>
  jQuery(function($){
    var options = {
      onSave: function(){
        alert("Feature Coming Soon!");
      },
    };
    $(document.getElementById('fb-editor')).formBuilder(options);
  });
</script>
